<div>
	<div style="height: 1400px; background-color: #999999;">
		<div style="position: absolute;width: 75%; height: 1075px; background-color: #FFF; margin-left: 12%; margin-right: 5%; margin-top: 15%">
			<div align="left" style="margin-left: 5%; margin-top: 5%; margin-bottom: 4%">
				<h3>Details to collect for each candidate</h3>
			</div>
			<div>
				<div style="height: 95px; margin-top: 2%; border-bottom: 1.3px solid #d9d9d9;">
					<div style="float: left; margin-left: 5%; width: 20%">
						<h4>Overall</h4>
					</div>
					<div style="float: left; width: 30%">
						<ul>
							<li>Name</li>
							<li>Address & phone number</li>
							<li>How you heard about the position</li>
						</ul>
					</div>
					<div style="float: left; width: 35%">
						<ul>
							<li>Description of next perfect job</li>
							<li>Certifications, memberships, honors or awards</li>
						</ul>
					</div>
				</div>
				<div style="height: 95px; margin-top: 2%; border-bottom: 1.3px solid #d9d9d9;">
					<div style="float: left; margin-left: 5%; width: 20%">
						<h4>High School</h4>
					</div>
					<div style="float: left; width: 30%">
						<ul>
							<li>School name & location</li>
							<li>Earned diploma or GED</li>
							<li>GPA</li>
						</ul>
					</div>
					<div style="float: left; width: 35%">
						<ul>
							<li>Extracurricular activities, honors, or awards</li>
							<li>Part-time and summer work</li>
						</ul>
					</div>
				</div>
				<div style="height: 120px; margin-top: 2%; border-bottom: 1.3px solid #d9d9d9;">
					<div style="float: left; margin-left: 5%; width: 20%">
						<h4>University, College,</h4>
						<h4>Technical, and/or </h4>
						<h4>Graduate School</h4>
					</div>
					<div style="float: left; width: 30%">
						<ul>
							<li>School name & location</li>
							<li>Subject/major</li>
							<li>Degree earned</li>
							<li>Dates attended</li>
						</ul>
					</div>
					<div style="float: left; width: 35%">
						<ul>
							<li>GPA</li>
							<li>Extracurricular activities, honors, or awards</li>
							<li>Part-time jobs, summer work, and internships</li>
						</ul>
					</div>
				</div>
				<div style="height: 145px; margin-top: 2%; border-bottom: 1.3px solid #d9d9d9;">
					<div style="float: left; margin-left: 5%; width: 20%">
						<h4>Employment</h4>
					</div>
					<div style="float: left; width: 30%">
						<ul>
							<li>Employer name & location</li>
							<li>Title</li>
							<li>Start & end dates</li>
							<li>Part or full time</li>
							<li>Manager name & title</li>
						</ul>
					</div>
					<div style="float: left; width: 35%">
						<ul>
							<li>How your manager would rate you</li>
							<li>Reason for leaving</li>
							<li>Key responsibilities & accountabilities</li>
							<li>Number of reports (direct and indirect)</li>
							<li>May we contact this employer</li>
						</ul>
					</div>
				</div>
				<div style="height: 300px; margin-top: 2%">
					<div style="float: left; margin-left: 5%; width: 20%">
						<h4>Employment Options</h4>
					</div>
					<div style="float: left; width: 70%">
						<div style="height: 100px">
							<div align="left" style="margin-left: 5%; margin-top: 2%">
								<div style="float: left; margin-top: 3%">
									<h6 style="font-weight: normal;">Require salary (start & ending):</h6>
								</div>
								<div style="float: left; margin-top: 1%">
									<select style="height: 0.5%; margin-left: 5%; width: 100%">
										<option value="y">Yes, collect candidate salary</option>
										<option value="n">Entire job history</option>
									</select>
								</div>
							</div>
							<div align="left" style="margin-left: 5%; margin-top: 2%">
								<div style="float: left; margin-top: 3%">
									<h6 style="font-weight: normal;">Amount of employment history:</h6>
								</div>
								<div style="float: left; margin-top: 1%">
									<select style="height: 0.5%; margin-left: 4%; width: 150%">
										<option value="y">Most recent 2 jobs</option>
										<option value="n">Most recent 4 jobs</option>
									</select>
								</div>
							</div>
						</div>
						<div style="margin-left: 5%; margin-top: 2%">
							<div style="height: 125px; background-color: #ffffcc; padding-left: 8%; padding-top: 1%; margin-right: 2%">
								<h6 style="font-weight: normal"><strong>Most recent 2 jobs: </strong>recommended for <strong>recruiting passive candidates</strong></h6>
								<h6 style="font-weight: normal">Much faster for a candidate and get more completed invitations.</h6>
								<h6 style="font-weight: normal"><strong>Entire job history: </strong>recommended for <strong>complete candidate evaluation</strong></h6>
								<h6 style="font-weight: normal">Will take more candidate time, especially those with 10-15 years of experience.</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="float: left; width: 70%">
				<div align="left" style="margin-left: 5%; margin-top: 1%; margin-bottom: 4%">
					<h4>Want to customize the questions you ask candidates?</h4>
					<h4 style="font-weight: normal;"> Talk to a <a href=""><u>Topgrading Sales Associate</u></a> for more details</h4>
				</div>
			</div>
			<div style="float: left; margin-left: 5%; width: 25%">
				<a href=""><u>cancel</u></a><a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-left: 10%;">Save</a>
			</div>
		</div>
	</div>
</div>