<div>
	<div style="height: 900px; background-color: #999999;">
		<div style="position: absolute;width: 75%; height: 550px; background-color: #FFF; margin-left: 15%; margin-right: 5%; margin-top: 15%">
			<div>
				<div align="left" style="margin-left: 5%; margin-top: 5%">
					<h3>Get started</h3>
				</div>
				<div align="left" style="margin-left: 5%; margin-top: 2%;">
					<div style="float: left">
						<h4>Select the info you want to collect from each candidate. </h4>
					</div>
					<div style="float: left; margin-left: 1%">
						<h4 style="font-weight: normal;"> You can always change these later.</h4>
					</div>
				</div>
			</div>
			<br>
			<div style="height: 100px">
				<div align="left" style="margin-left: 5%; margin-top: 2%">
					<div style="float: left; margin-top: 1%">
						<h5 style="font-weight: normal;">Require salary history:</h5>
					</div>
					<div style="float: left">
						<select style="height: 0.5%; margin-left: 15%; width: 100%">
							<option value="y">Yes, collect candidate salary</option>
							<option value="n">No, do not collect candidate salary</option>
						</select>
					</div>
				</div>
				<br><br>
				<div align="left" style="margin-left: 5%; margin-top: 2%">
					<div style="float: left; margin-top: 1%">
						<h5 style="font-weight: normal;">Amount of employment history:</h5>
					</div>
					<div style="float: left">
						<select style="height: 0.5%; margin-left: 4%; width: 150%">
							<option value="y">Most recent 2 jobs</option>
							<option value="n">Entire job history</option>
						</select>
					</div>
				</div>
			</div>
			<div style="margin-left: 5%; margin-top: 2%">
				<div style="height: 125px; background-color: #ffffcc; padding-left: 3%; padding-top: 1%; margin-right: 5%">
					<h6 style="font-weight: normal"><strong>Most recent 2 jobs: </strong>recommended for <strong>recruiting passive candidates</strong></h6>
					<h6 style="font-weight: normal">Much faster for a candidate and get more completed invitations.</h6>
					<h6 style="font-weight: normal"><strong>Entire job history: </strong>recommended for <strong>complete candidate evaluation</strong></h6>
					<h6 style="font-weight: normal">Will take more candidate time, especially those with 10-15 years of experience.</h6>
				</div>
			</div>
			<div style="padding-left: 7%; padding-top: 2%">
				<input type="checkbox" style="height: 20px"> I agree, candidate data that I collect follows all state guidelines & regulations. <a href="#"><u>See details</u></a> 
			</div>
			<div style="margin-left: 70%; margin-bottom: 2%">
				<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%; margin-left: 4%;">Save</a>
			</div>
		</div>
	</div>
</div>