<div>
	<div style="margin-top: 10%; margin-left: 25%;">
		<h3>Sign In</h3>
	</div>
	<div style="width: 60%; margin-left: 5%; height: 400px">
		<p>
		<div style="margin-left: 40%">
			<div align="right" style="float: left; margin-top: 1%">
				Email: 
			</div>
			<div align="left" style="float: left; margin-left: 3%">
				<input type="text" name="LastName" style="width: 350px; height: 1%"><br>
			</div>
		</div>
		</p>
		<br>
		<p>
		<div style="margin-left: 36.2%;">
			<div align="right" style="float: left; margin-top: 1%">
				Password: 
			</div>
			<div align="left" style="float: left; margin-left: 3%">
				<input type="text" name="LastName" style="width: 350px; height: 1%"><br>
			</div>
		</div>
		</p>
		<div align="right" style="margin-right: 7%; margin-top: 2%">
			<a href="#"><u>Forgot password?</u></a>
		</div>	
		<div align="right" style="margin-right: 8%; margin-top: 2%">
			<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%; margin-left: 4%;">Sign In</a>
		</div>
	</div>
</div>
