<div style="position: relative;">
	<div>
		<div style="float: left; margin-top: 10%; margin-left: 5%;">
			<h3>Thank you for your purchase</h3>
		</div>
	</div>
	<div style="padding-top: 14%; padding-left: 6%; padding-right: 1%; margin-bottom: 3%">
		<div style="height: 125px; background-color: #ffffcc; padding-left: 3%; padding-top: 1%">
			<h3 style="font-weight: normal">We sent an email to: <strong>eric.smith@mail.com</strong></h3>
			<h3 style="font-weight: normal">Click the link in the email message to get started with the Topgrading Hiring Snapshot</h3>
		</div>
	</div>
	<div align="left" style="float: left; margin-left: 6%; width: 60%; height: 220px; border: 1.3px solid #d9d9d9;">
		<div align="left" style="float: left; margin-top: 3%; margin-left: 5%; width: 100%">
			<h3>Order  # 24819283</h3>
		</div>
		<div>
			<div align="left" style="float: left; margin-left: 5%; padding-top: 2%">
				<h4>Billing address</h4>
				
				<h5 style="font-weight: normal;">Eric Smith</h5>
				<h5 style="font-weight: normal;">1234 N. Main St.</h5>
				<h5 style="font-weight: normal;">Chicago, IL 60007</h5>			
			</div>
			<div align="left" style="float: left; margin-left: 20%; padding-top: 2%">
				<h4>Payment Method</h4>
			
				<h5 style="font-weight: normal;">VISA XXXX-XXXX-XXXX-1262</h5>			
			</div>
		</div>
	</div>
	<div align="left" style="float: left; margin-top: 1%; margin-left: 5%; width: 25%; height: 220px; margin-bottom: 15%">
		<div style="border-bottom: 1.3px solid #d9d9d9;"> 
			<h3>Order Summary</h3>
		</div>
		<div style="height: 100px; border-bottom: 1.3px solid #d9d9d9;">
			<div align="left" style="float: left; margin-top: 2%;">
				Topgrading Hiring Snapshot
			</div>
			<div align="right" style="float: left; margin-top: 2%; margin-left: 10%">
				$450
			</div>
			<br>
			<div align="left" style="float: left; margin-top: 5%;">
				Candidate Qty
			</div>
			<div align="right" style="float: left; margin-top: 5%; margin-left: 43%">
				30
			</div>
		</div>
		<div style="margin-top: 5%"> 
			<div align="left" style="float: left; margin-top: 2%;">
				<h4>Total</h4>
			</div>
			<div align="right" style="float: left; margin-top: 2%; margin-left: 50%">
				<h4>$450</h4>
			</div>
		</div>
	</div>
</div>