<div style="height: 150px; background-color: #ffffcc; padding-left: 3%; padding-top: 8%">
	<h5 style="float: left">You have 0 candidate invitations remaining. </h5><a href="" style="margin-left: 1%"><u> Get more invitations</u></a>
</div>
<div style="height: 250px; background-color: #d9d9d9;" class="text-center">
	<div style="padding-top: 5%; height: 175px">
		<div align="left" style="margin-left: 5%; float: left; display: block">
			<h3>Welcome</h3>
		</div>
		<div align="right" style="margin-left: 40%; float: left; display: block">
			<h5 style="margin-left: 0%; margin-top: 4%;"><strong>0</strong> Invitations remaining</h5>
		</div>
		<div align="left" style="margin-left: 3%; float: left; display: block">
			<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline text-center" style="width: 300px">+ Buy More Invitations</a>		
		</div>
	</div>
	<div>
		<div style="float: left; background-color: #ffffff; width: 15%; height: 75px; margin-left: 5%">
			<h2 style="margin-bottom: 0%">30</h2>
			<h4 style="font-weight: normal;">Sent Invitations</h4>
		</div>
		<div style="float: left; background-color: #f9f9f9; width: 15%; height: 75px;">
			<h2 style="margin-bottom: 0%">4</h2>
			<h4 style="font-weight: normal;">Not Started</h4>
		</div>
		<div style="float: left; background-color: #efefef; width: 15%; height: 75px;">
			<h2 style="margin-bottom: 0%">3</h2>
			<h4 style="font-weight: normal;">Started</h4>
		</div>
		<div style="float: left; background-color: #e9e9e9; width: 15%; height: 75px;">
			<h2 style="margin-bottom: 0%">23</h2>
			<h4 style="font-weight: normal;">Completed</h4>
		</div>
		<div style="float: left; margin-left: 7%">
			<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline text-center" style="width: 300px">Invite Candidates</a>
		</div>
	</div>
</div>
<div style="position: relative; background-color: #ffffff; margin-top: 5%" class="text-center">
	<h4 style="font-weight: normal;">When candidates complete invitations you’ll receive an email with their details</h4>
	
	<div class="container" style="margin-top: 2%">            
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Job</th>
	        <th>Invitation Sent</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Samuel Walters</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 26, 2017</td>
	      </tr>
	      <tr>
	        <td>Emma Williamson</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Francis Granger</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Benton Hazelhurst</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Samuel Walters</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Emma Williamson</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Francis Granger</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Benton Hazelhurst</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Samuel Walters</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Emma Williamson</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	      <tr>
	        <td>Francis Granger</td>
	        <td>Assistant Sales Clerk</td>
	        <td>Apr 25, 2017</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	<div class="text-center">
		<h5>1 <a href="" style="margin-left: 1%"><u>2 </u></a><a href="" style="margin-left: 1%"><u>3</u></a></h5>
	</div>
</div>
<div style="background-color: #d9d9d9; height: 500px; padding-top: 5%">
	<div class="text-center">
		<h2>Watch the Interview Best Practices Webinar</h2>
		<h3 style="font-weight: normal;">Learn the world’s best interviewing methods and double your success rate in hiring. </h3>
	</div>
	<div style="padding-left: 12%">
		<h4>In this webinar you’ll learn:</h4>
		<ul>
			<li>The best interviewing techniques for Phone Screen and Reference Check interviews</li>
			<li>How to identify high performers with an in-depth Topgrading Interview</li>
			<li>Proven methods that increase your hiring success and avoid costly mis-hires</li>
		</ul>
	</div>
	<br>
	<div style="padding-left: 12%">
		<div align="left" style="float: left;">
			<h3>$250</h3>
		</div>
		<div align="left" style="float: left; margin-left: 5%; margin-bottom: 4%; margin-right: 10%">
			<h5 style="font-weight: normal;">One-hour webinar and <b>3 FREE starter interview guides:</b> Phone Screen Interview, Topgrading Interview, </h5>
			<h5 style="font-weight: normal;">and Reference Check Interview</h5>
		</div>
	</div>
	<div class="text-center">
		<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%">Learn more</a>
	</div>
</div>
<div style="height: 150px; background-color: #c9c9c9;" class="text-center">
	<div align="left" style="padding-top: 5%; margin-left: 8.12766%; float: left; display: block"><h4 style="font-weight: normal;">Talk with a Topgrading expert about in-depth interview training</h4></div>
	<div align="right" style="padding-top: 5%; margin-right: 10%"><h4>(847) 244-5544  ·  sales@topgrading.com</h4></div>
</div>
