<div>
	<div style="height: 900px; background-color: #999999;">
		<div style="position: absolute;width: 75%; height: 650px; background-color: #FFF; margin-left: 15%; margin-right: 5%; margin-top: 15%">
			<div>
				<div align="left" style="margin-left: 5%; margin-top: 5%">
					<h3>Buy More Invitations</h3>
				</div>
				<div style="margin-left: 5%">
					<h4 style="font-weight: normal;">Select the number of candidate invitations to purchase.</h4>
				</div>
			</div>
			<div class="container" style="margin-top: 2%; margin-left: 5%; margin-right: 5%">            
			  <table class="table">
			    <thead>
			      <tr>
			        <th>Qty</th>
	        		<th>Price</th>
	        		<th></th>
	        		<th></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td><input type="radio" name= "a" style="float: left"><h4 style="font-weight: normal; float: left; margin-top: 3%"> 10 Candidates</h4></td>
			        <td><h4>$250</h4></td>
			        <td>$25 / candidate</td>
			        <td></td>
			      </tr>
			      <tr>
			        <td><input type="radio" name= "a" style="float: left"><h4 style="font-weight: normal; float: left; margin-top: 3%"> 20 Candidates</h4></td>
			        <td><h4>$400</h4></td>
			        <td>$20 / candidate</td>
			        <td>save 20%</td>
			      </tr>
			      <tr>
			        <td><input type="radio" name= "a" style="float: left"><h4 style="font-weight: normal; float: left; margin-top: 3%"><input type="number" name="" value="30" style="width:25%"> Candidates</h4></td>
			        <td><h4>$450</h4></td>
			        <td>$15 / candidate</td>
			        <td>save 40%</td>
			      </tr>
			    </tbody>
			  </table>
			</div>						
			<div style="margin-left: 75%; margin-bottom: 2%">
				<a href=""><u>Cancel</u></a><a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%; margin-left: 8%;">Next</a>
			</div>
		</div>
	</div>
</div>