<div style="height: 200px; background-color: #d9d9d9;">
	<div style="padding-top: 9%; height: 225px">
		<a href="" style="margin-left: 5%"><u>< back</u></a>
		<br>
		<div align="left" style="margin-left: 5%; float: left; display: block">
			<h3>Invite a Candidate</h3>
		</div>
		<div align="right" style="margin-left: 30%; float: left; display: block">
			<h5 style="margin-left: 0%; margin-top: 4%;"><strong>30</strong> Invitations remaining</h5>
		</div>
		<div align="left" style="margin-left: 3%; float: left; display: block">
			<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline text-center" style="width: 300px">+ Buy More Invitations</a>		
		</div>
	</div>
</div>
<div align="left" style="position: relative; float: left; margin-top: 5%; margin-left: 5%; padding-bottom: 3%; width: 60%; border-bottom: 1.3px solid #d9d9d9;">
	<div style="margin-left: 2%">
		<div align="right" style="float: left; margin-top: 1%">
			Email Template:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<select style="width: 100%; height: 1%"><option>Default Invitation</option></select>
		</div>
	</div>
	<br>
	<p>
	<div style="margin-left: 8%;">
		<div align="right" style="float: left; margin-top: 1%">
			Job Title: 
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 625px; height: 1%">
		</div>
	</div>
	</p>
	<br>
</div>
<div style="float: left;">
	aeigusvn x
</div>
<div align="left" style="position: relative; float: left; margin-top: 2%; margin-left: 5%; padding-bottom: 3%; width: 60%; border-bottom: 1.3px solid #d9d9d9;">
	<div style="margin-left: 6%">
		<div align="right" style="float: left; margin-top: 1%">
			First Name:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 250px; height: 1%">
		</div>
	</div>
	<div>
		<div align="right" style="float: left; margin-top: 1%; margin-left: 3%">
			Last Name:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 250px; height: 1%">
		</div>
	</div>
	<br>
	<p>
	<div style="margin-left: 1%;">
		<div align="right" style="float: left; margin-top: 1%">
			Candidate Email: 
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 625px; height: 1%">
		</div>
	</div>
	</p>
	<br>
	<p>
	<div style="margin-left: 13%;">
		<div align="right" style="float: left; margin-top: 1%">
			CC: 
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 250px; height: 1%">
		</div>
	</div>
	<div>
		<div align="right" style="float: left; margin-top: 1%; margin-left: 9%">
			BCC:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 250px; height: 1%">
		</div>
	</div>
	</p>
	<br>
</div>
<div align="left" style="position: relative; float: left; margin-top: 2%; margin-left: 5%; padding-bottom: 3%; width: 60%; border-bottom: 1.3px solid #d9d9d9;">
	<div style="margin-left: 9%">
		<div align="right" style="float: left; margin-top: 1%">
			Subject:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 625px; height: 1%">
		</div>
	</div>
	<br>
	<p>
	<div style="margin-left: 1%;">
		<div align="right" style="float: left; margin-top: 1%">
			Invitation Expires: 
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 250px; height: 1%">
		</div>
	</div>
	</p>
	<br>
	<div style="margin-left: 59%; margin-bottom: 2%">
		<a href=""><u>cancel</u></a><a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%; margin-left: 8%;">Preview</a><a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%; margin-left: 3%;">Send</a>
	</div>
</div>
