<div style="height: 200px; background-color: #d9d9d9;" class="text-center">
	<div style="padding-top: 10%; height: 225px">
		<div align="left" style="margin-left: 5%; float: left; display: block">
			<h3>Settings</h3>
		</div>
		<div align="right" style="margin-left: 40%; float: left; display: block">
			<h5 style="margin-left: 0%; margin-top: 4%;"><strong>30</strong> Invitations remaining</h5>
		</div>
		<div align="left" style="margin-left: 3%; float: left; display: block">
			<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline text-center" style="width: 300px">+ Buy More Invitations</a>		
		</div>
	</div>
</div>
<div align="left" style="float: left; margin-top: 5%; margin-left: 5%; width: 60%; height: 250px; border-bottom: 1.3px solid #d9d9d9;">
	<div style="height: 50px">
		<div align="left" style="margin-left: 5%">
			<h5>My Profile</h5>
		</div>
	</div>
	<div style="margin-left: 10%">
		<div align="right" style="float: left; margin-top: 1%">
			Name:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 550px; height: 1%"><br>
		</div>
	</div>
	<br>
	<p>
	<div style="margin-left: 3%;">
		<div align="right" style="float: left; margin-top: 1%">
			Email address: 
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 550px; height: 1%"><br>
		</div>
	</div>
	</p>
	<br>
	<p>
	<div style="margin-left: 7%">
		<div align="right" style="float: left; margin-top: 1%">
			Company: 
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 550px; height: 1%"><br>
		</div>
	</div>
	</p>
	<br>
</div>
<div align="left" style="float: left; margin-top: 5%; margin-left: 3%; width: 60%; height: 350px;">
	<div style="height: 50px">
		<div align="left" style="margin-left: 0%">
			<h5>Change Password</h5>
		</div>
	</div>
	<div style="margin-left: 3%">
		<div align="right" style="float: left; margin-top: 1%">
			Current password:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 550px; height: 1%"><br>
		</div>
	</div>
	<br>
	<p>
	<div style="margin-left: 5.5%;">
		<div align="right" style="float: left; margin-top: 1%">
			New Password:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 550px; height: 1%"><br>
		</div>
	</div>
	</p>
	<br>
	<p>
	<div style="margin-left: 2.5%">
		<div align="right" style="float: left; margin-top: 1%">
			Confirm Password:
		</div>
		<div align="left" style="float: left; margin-left: 3%">
			<input type="text" name="LastName" style="width: 550px; height: 1%"><br>
		</div>
	</div>
	</p>
	<br>
	<div align="right"; style="margin-top: 8%; margin-right: 8%">
		<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline text-center">Save</a>
	</div>
</div>
