<div align="left" style="float: left; margin-top: 10%; margin-left: 5%; width: 60%; height: 600px">
	<div style="margin-top: 1%">
		<div align="left" style="float: left; margin-left: 5%; height: 100px">
			<h3>Select Payment Method</h3>
		</div>
	</div>
	<div>
		<div>
			<div style="height: 400px; background-color: #d9d9d9; margin-top: 5%; margin-left: 2%; width: 100%">
				<div align="center" class="text-center" style="padding-left: 4%; padding-top: 20%">
					<h4 style="font-weight: normal;">Include required billing details from ecommerce platform here</h4>
					<h4 style="font-weight: normal;">e.g. address & payment options</h4>
				</div>
			</div>
		</div>
		<div style="padding-left: 7%; padding-top: 2%">
			<input type="checkbox" style="height: 20px"> I agree to the <a href="#"><u>Terms & Conditions</u></a> 
		</div>
		<div style="margin-left: 67%; margin-bottom: 2%">
			<a href=""><u>Cancel</u></a><a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline text-center" style="margin-top: 5%; margin-left: 12%; width: 175px">Purchase</a>
		</div>
	</div>
</div>
<div align="left" style="float: left; margin-top: 11%; margin-left: 5%; width: 25%; height: 380px">
	<div style="border-bottom: 1.3px solid #d9d9d9;"> 
		<h3>Order Summary</h3>
	</div>
	<div style="height: 100px; border-bottom: 1.3px solid #d9d9d9;">
		<div align="left" style="float: left; margin-top: 2%;">
			Topgrading Hiring Snapshot
		</div>
		<div align="right" style="float: left; margin-top: 2%; margin-left: 10%">
			$450
		</div>
		<br>
		<div align="left" style="float: left; margin-top: 5%;">
			Candidate Qty
		</div>
		<div align="right" style="float: left; margin-top: 5%; margin-left: 20%">
			<input type="number" min="1" max="100" value="1" style="height: 1%">
		</div>
	</div>
	<div style="margin-top: 5%"> 
		<div align="left" style="float: left; margin-top: 2%;">
			<h4>Total</h4>
		</div>
		<div align="right" style="float: left; margin-top: 2%; margin-left: 50%">
			<h4>$450</h4>
		</div>
	</div>
</div>