<div style="margin-top: 10%" class="text-center">
	<h2>Hiring Snapshot Features</h2>
</div>
<div style="height: 490px">
	<div align="left" style="float: left; width: 30%; margin-top: 5%; margin-left: 10%; margin-bottom: 15%;">
		<h3>Send Invitation to Candidates </h3>
		<h4 style="font-weight: normal;">Invite candidates and monitor their progress. See which never complete their invitation, usually low-performers.</h4><br>
		<h4 style="font-weight: normal;">You’ll get an email with the candidate’s details when they complete their information.</h4>
	</div>
	<div align="right" style="float: right; width: 55%; margin-top: 4%; margin-right: 5%; margin-bottom: 3%">
		{{ 'img7.png' | asset_url | img_tag }}
	</div>
</div>
<br>
<div style="height: 600px">
	<div align="left" style="float: left; width: 40%; margin-top: 4%; margin-left: 10%">
		{{ 'img8.png' | asset_url | img_tag }}
	</div>
	<div align="left" style="float: right; width: 40%; margin-top: 5%; margin-left: 5%; margin-right: 5%; margin-bottom: 3%">
		<h4>Get Candidate Insights</h4>
		<h5 style="font-weight: normal;">The Topgrading Snapshot gives you details that help you look for the top performers.</h5><br>
		<h4>Salary history</h4>
		<h5 style="font-weight: normal;">Look for steady growth in compensation</h5><br>
		<h4>Job hoppers</h4>
		<h5 style="font-weight: normal;">Identify a candidate who switches jobs frequently</h5><br>
		<h4>Performance ratings by prior bosses</h4>
		<h5 style="font-weight: normal;">Look for very good and excellent ratings</h5><br>
		<h4>Reasons they have changed jobs</h4>
		<h5 style="font-weight: normal;">Identify if a candidate has ever been terminated for cause</h5><br>		
	</div>
</div>
<div style="height: 600px; border-bottom: 1.3px solid #d9d9d9;">
	<div align="left" style="float: left; width: 30%; margin-top: 5%; margin-left: 10%">
		<h3>Detailed Career History</h3>
		<h4 style="font-weight: normal;">The candidate’s Career History Form includes all education and employment history details, more comprehensive than a standard resume.</h4><br>
		<h4 style="font-weight: normal;">You can specify if a candidate should complete their full employment history or just the most recent 2 jobs. </h4>
	</div>
	<div align="right" style="float: right; width: 55%; margin-top: 4%; margin-right: 5%">
		{{ 'img9.png' | asset_url | img_tag }}
	</div>
</div>
<div class="text-center" style="margin-top: 5%; height: 275px;">
	<h2>Try the Topgrading Hiring Snapshot</h2>
	<h3 style="font-weight: normal;">Get accurate & insightful info to screen candidates.</h3>
	<a href="{{ section.settings.home-kickstarter-url | escape }}" class="btn btn--regular btn--dark btn--outline" style="margin-top: 5%">Get Started</a>
</div>
<div style="height: 150px; background-color: #d9d9d9;" class="text-center">
	<div align="left" style="padding-top: 5%; margin-left: 8.12766%; float: left; display: block"><h4 style="font-weight: normal;">Talk with a Topgrading expert about in-depth interview training</h4></div>
	<div align="right" style="padding-top: 5%; margin-right: 10%"><h4>(847) 244-5544  ·  sales@topgrading.com</h4></div>
</div>